# Introdution 
The idea of this project is locate the best Neightborhood in London to open a restaurant of Latin American food. To select the neighborood we are going to evaluate the immigration data in London and foursquare. This information can help a lot of businessmen and small businesses to establish their restaurants location. It would also help franchises to open a chain or modify their menu based on the likings of the people there in that particular area.

# Data 
The data that will be used is the is immigration data from London. The data will provide information about where people form Latin America is moving. Then we are going to compered that data with the data form foursquere to see where are existing restaurants of Latin American Food and see whhich are the most visited restaruants in each neighborhoods.

In [2]:
import pandas as pd

london=pd.read_csv('https://data.london.gov.uk/download/country-of-birth/aeeb0b0a-5b2f-48b3-a53e-e6c525858b31/cob-borough.csv')

In [3]:
london.head()

,Year,Area_Code,Area_Name,Broad_group,Detailed_group,Estimate,CI
0,2017,E09000001,City of London,Total,Total,:,:
1,2017,E09000002,Barking and Dagenham,Total,Total,210,z
2,2017,E09000003,Barnet,Total,Total,391,z
3,2017,E09000004,Bexley,Total,Total,247,z
4,2017,E09000005,Brent,Total,Total,333,z

In [5]:
london.Detailed_group.unique()

array(['Total', 'United Kingdom', 'Non-United Kingdom', 'All',
       'European Union EU14', 'European Union EU8', 'European Union EU2',
       'European Union Other', 'Other Europe',
       'Middle East and Central Asia', 'East Asia', 'South Asia',
       'South East Asia', 'Sub-Saharan Africa', 'North Africa',
       'North America', 'Central and South America', 'Oceania'], dtype=object)

In [6]:
latin_central_america=london[london.Detailed_group== 'Central and South America']

In [12]:
latin_central_america

,Year,Area_Code,Area_Name,Broad_group,Detailed_group,Estimate,CI
882,2017,E09000001,City of London,Rest of the World,Central and South America,:,:
883,2017,E09000002,Barking and Dagenham,Rest of the World,Central and South America,3,3
884,2017,E09000003,Barnet,Rest of the World,Central and South America,8,6
885,2017,E09000004,Bexley,Rest of the World,Central and South America,3,3
886,2017,E09000005,Brent,Rest of the World,Central and South America,8,5
887,2017,E09000006,Bromley,Rest of the World,Central and South America,3,4
888,2017,E09000007,Camden,Rest of the World,Central and South America,6,4
889,2017,E09000008,Croydon,Rest of the World,Central and South America,17,8
890,2017,E09000009,Ealing,Rest of the World,Central and South America,8,6
891,2017,E09000010,Enfield,Rest of the World,Central and South America,7,5
892,2017,E09000011,Greenwich,Rest of the World,Central and South America,6,5
893,2017,E09000012,Hackney,Rest of the World,Central and South America,11,6
894,2017,E09000013,Hammersmith and Fulham,Rest of the World,Central and South America,6,4
895,2017,E09000014,Haringey,Rest of the World,Central and South America,7,5
896,2017,E09000015,Harrow,Rest of the World,Central and South America,5,4
897,2017,E09000016,Havering,Rest of the World,Central and South America,c,c
898,2017,E09000017,Hillingdon,Rest of the World,Central and South America,3,3
899,2017,E09000018,Hounslow,Rest of the World,Central and South America,4,4
900,2017,E09000019,Islington,Rest of the World,Central and South America,7,5
901,2017,E09000020,Kensington and Chelsea,Rest of the World,Central and South America,8,4
902,2017,E09000021,Kingston upon Thames,Rest of the World,Central and South America,2,2
903,2017,E09000022,Lambeth,Rest of the World,Central and South America,25,12
904,2017,E09000023,Lewisham,Rest of the World,Central and South America,14,7
905,2017,E09000024,Merton,Rest of the World,Central and South America,4,4
906,2017,E09000025,Newham,Rest of the World,Central and South America,9,6
907,2017,E09000026,Redbridge,Rest of the World,Central and South America,3,3
908,2017,E09000027,Richmond upon Thames,Rest of the World,Central and South America,2,2
909,2017,E09000028,Southwark,Rest of the World,Central and South America,13,7
910,2017,E09000029,Sutton,Rest of the World,Central and South America,c,c
911,2017,E09000030,Tower Hamlets,Rest of the World,Central and South America,5,5
...,...,...,...,...,...,...,...
13641,2004,E09000020,Kensington and Chelsea,Rest of the World,Central and South America,4,3
13642,2004,E09000021,Kingston upon Thames,Rest of the World,Central and South America,2,2
13643,2004,E09000022,Lambeth,Rest of the World,Central and South America,21,8
13644,2004,E09000023,Lewisham,Rest of the World,Central and South America,13,6
13645,2004,E09000024,Merton,Rest of the World,Central and South America,6,4
13646,2004,E09000025,Newham,Rest of the World,Central and South America,9,5
13647,2004,E09000026,Redbridge,Rest of the World,Central and South America,3,3
13648,2004,E09000027,Richmond upon Thames,Rest of the World,Central and South America,4,3
13649,2004,E09000028,Southwark,Rest of the World,Central and South America,12,6
13650,2004,E09000029,Sutton,Rest of the World,Central and South America,1,2
13651,2004,E09000030,Tower Hamlets,Rest of the World,Central and South America,3,2
13652,2004,E09000031,Waltham Forest,Rest of the World,Central and South America,11,5
13653,2004,E09000032,Wandsworth,Rest of the World,Central and South America,7,4
13654,2004,E09000033,Westminster,Rest of the World,Central and South America,6,4
13655,2004,E13000001,Inner London,Rest of the World,Central and South America,113,16
13656,2004,E13000002,Outer London,Rest of the World,Central and South America,88,15
13657,2004,E12000001,North East,Rest of the World,Central and South America,2,1
13658,2004,E12000002,North West,Rest of the World,Central and South America,13,4
13659,2004,E12000003,Yorkshire and The Humber,Rest of the World,Central and South America,12,4
13660,2004,E12000004,East Midlands,Rest of the World,Central and South America,11,5
13661,2004,E12000005,West Midlands,Rest of the World,Central and South America,35,8
13662,2004,E12000006,East,Rest of the World,Central and South America,20,7
13663,2004,E12000007,London,Rest of the World,Central and South America,202,22
13664,2004,E12000008,South East,Rest of the World,Central and South America,33,8
13665,2004,E12000009,South West,Rest of the World,Central and South America,14,5
13666,2004,W92000004,Wales,Rest of the World,Central and South America,4,2
13667,2004,S92000003,Scotland,Rest of the World,Central and South America,5,2
13668,2004,N92000002,Northern Ireland,Rest of the World,Central and South America,1,1
13669,2004,K02000001,United Kingdom,Rest of the World,Central and South America,353,23
13670,2004,E92000001,England,Rest of the World,Central and South America,343,25